@import '../base/variables';

.eclipse-jkube-footer {
  padding: $default-spacing;
  border-top: 10px solid $color-black;
  background-color: $footer-background;
  font-size: $footer-font-size;
  font-family: $footer-font-family;
  font-weight: $footer-font-weight;
  line-height: $footer-line-height;

  .eclipse-jkube-footer__logo-jkube {
    display: flex;
    flex-direction: column;
    max-width: $desktop-max-width;
    margin: 0 auto $default-spacing auto;
    .eclipse-jkube-footer__logo-jkube-image {
      width: $footer-logo-width;
    }
    .eclipse-jkube-footer__logo-jkube-tagline {
      color: $color-light-gray;
    }
  }
  .eclipse-jkube-footer__links {
    max-width: $desktop-max-width;
    margin: 0 auto $default-spacing auto;
    display: flex;
    flex-wrap: wrap;
    .eclipse-jkube-footer__links-list {
      padding: 0;
      margin: 0 $default-spacing * 3 $default-spacing 0;
      list-style: none;
      li a {
        transition: color linear 100ms;
        color: $color-white;
        &:hover {
          color: $color-light-gray;
        }
      }
      li:first-child a {
        color: $color-light-gray;
        &:hover {
          color: $color-link;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  .eclipse-jkube-footer__copyright {
    max-width: $desktop-max-width;
    margin: 0 auto $default-spacing auto;
    font-family: "Roboto", sans-serif;
    color: $color-light-gray;
  }
}