@import '../base/variables';

$logo-width: 150px;
$logo-width-desktop: 180px;
.eclipse-jkube__header {
  $header-class: &;
  display: block;
  position: relative;
  height: $header-height;
  @media all and (min-width: $header-single-row-min-width ) {
    height: $header-height-desktop;
  }
  background-color: $header-background;
  #{$header-class}-trade-mark {
    font-size: 0.5em;
    font-size: 0.3em;
    line-height: 2.5;
    vertical-align: top;
  }
  #{$header-class}-container {
    position: relative;
    margin: 0 auto;
    padding: 0 $default-spacing;
    height: 100%;
    max-width: $desktop-max-width;
    @media all and (min-width: $header-single-row-min-width ) {
      display: flex;
      flex-wrap: nowrap;
      height: $header-height-desktop;
    }
  }

  #{$header-class}-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: $header-logo-font-weight;
    color: $color-white;
    @media all and (min-width: $desktop-min-width ) {
      font-size: 50px;
    }
    &-eclipse-image {
      height: $header-logo-height;
      @media all and (min-width: $desktop-min-width ) {
        height: $header-logo-height-desktop;
      }
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    &-jkube {
      height: $header-logo-jkube-height;
      @media all and (min-width: $desktop-min-width ) {
        height: $header-logo-jkube-height-desktop;
      }
      &-image {
        height: 100%;
      }
    }
    &:hover {
      color: $color-white;
    }
  }
  #{$header-class}-content {
    flex: 1 0;
    min-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: $desktop-min-width ) {
      justify-content: flex-end;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      @media all and (min-width: $header-single-row-min-width ) {
        justify-content: flex-start;
      }
      li {
        margin: ($default-spacing / 4) 0;
        padding-right: $default-spacing;
        list-style: none;
        color: $color-white;
        font-size: $header-links-font-size;
      }
    }
    #{$header-class}-stars {
      display: block;
      width: 85px;
      height: 20px;
      line-height: 20px;
    }
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
  a:hover {
    color: $color-orange;
    transition: color 300ms;
  }
}