@import '../base/variables';
@import '../base/mixins';

.eclipse-jkube-hero {
  $hero-class: &;
  @include full-width;
  position: relative;
  display: block;
  color: $color-dark-foreground;
  #{$hero-class}__content {
    padding: $default-spacing;
    @media all and (min-width: $desktop-max-width) {
      padding: $default-spacing calc((100% - #{$desktop-max-width})/2);
    }
    background-color: transparentize(darken($color-dark-background, 10%), 0.3);
    h1 {
      font-size: 2.5rem;
      font-family: $base-font-family;
      font-weight: $font-weight-light-bold;
    }
  }
  #{$hero-class}__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: darken($color-dark-background, 10%);
    &-wrapper {
      height: 100%;
    }
  }
}
