// WIP Main Page with snippets

.eclipse-jkube__main {
  & .eclipse-jkube__content {
    .diag {
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .tabs li,
    .tabs ul {
      display: flex;
    }

    .tabs li {
      align-items: center;
      border: 1px solid #000;
      border-bottom: 0;
      cursor: pointer;
      font-weight: 700;
      height: 2.5rem;
      line-height: 1;
      margin-right: 0.25rem;
      padding: 0 1.5rem;
      position: relative;
    }

    .tabs li:not(.is-active) {
      background-color: #000;
      color: #fff;
    }

    .tabset > .content {
      border: 1px solid grey;
      padding: 1.25rem;
    }

    .tabset {
      padding-bottom: 2em;
    }


    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }

    .tabs ul {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 -0.25rem 0 0;
      padding: 0;
    }

    .tabs li.is-active::after {
      background-color: #F1F2F2;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      bottom: -1.5px;
      left: 0;
      right: 0;
    }

    .tab-pane:not(.is-active) {
      display: none;
    }

    .youtube-video {
      float: right;
    }
  }
}
