{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "graphql": false
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    // React
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "indent": [2, 2, {
      "SwitchCase": 1
    }]
  }
}
