name: Deploy to www.eclipse.org/jkube

on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
#    env:
#      GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
#      GIT_NAME: ${{ secrets.GIT_NAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_GITHUB }}
          repository: jkubeio/jkube-website-publish
          ref: main
          path: jkube-website-publish
      - name: Deploy
        run: ./scripts/deploy.sh
