@import 'variables';

html {
  font-family: $base-font-family;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  outline: 0;
  background: $base-background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-color;
}

h1 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-h1;
  font-weight: $font-weight-normal;
}
h2 {
  display: flex;
  align-items: center;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-h2;
  font-weight: $font-weight-normal;
  .header__icon {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-normal;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-normal;
}

a {
  color: $color-link;
  &:hover, &:focus {
    color: $color-black;
  }
}

