$default-spacing: 16px;
$font-weight-normal: 300;

$color-black: #222222;
$color-light-gray: #939598;
$color-link: #525C86;
$color-gray: #666666;
$color-dark-background: #404040;
$color-dark-foreground: white;

$base-background-color: white;
$base-color: $color-black;
$base-font-size: 16px;
$base-font-weight: $font-weight-normal;
$base-font-family: 'Libre Franklin','Roboto', sans-serif;
